.filterdrawer--mobile {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 45px;
  z-index: 50;
  background-color: white;
  color: $tameNavy;
  margin: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 0px 2px 1.5px #c4c4c4;
  transition: height 0.4s ease-out;

  &.filterdrawerOpened {
    height: calc(100vh - 55px);
  }

  .p--filterHeader {
    height: 35px;
    font-family: $headerFont;
    color: $tameGrey;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 10px 10px 0;
  }

  .div--drawercontent {
    height: calc(100% - 60px);
    overflow: scroll;
  }

  section {
    width: 85%;
    margin: 23px auto 10px;
  }

  h3 {
    font-family: $headerFont;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 9px;
  }

  button {
    display: inline-block;
    width: calc(50% - 10px);
    box-shadow: 0.7px 0.7px 3.5px 1px #c4c4c4ad;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    margin: 5px;
    font-family: $mainFont;
    color: $tameNavy;
    outline: none;
    font-size: 0.85em;
    font-weight: 400;
    cursor: pointer;

    &.tagClicked {
      background-color: var(--mainColor);
    }

    &.filterClicked {
      border: 1.3px solid var(--mainColor);
    }
  }

  .button--tags {
    color: white;
    background-color: $tameNavy;
    box-shadow: none;
    width: auto;
    padding: 6px 12px;
    margin: 2px;
    border-radius: 15px;
    font-weight: 300;
    cursor: pointer;
  }

  .button--types {
    border-left: 6px solid $tameNavy;

    &.filterClicked {
      border-top: 1.4px solid var(--mainColor);
      border-right: 1.4px solid var(--mainColor);
      border-bottom: 1.4px solid var(--mainColor);
      border-left: 6px solid var(--mainColor);
    }
  }

  .section--applyreset {
    position: sticky;
    bottom: 0;
    height: 60px;
    background-color: white;
    border-top: 1px solid $tameNavy;
    margin: 0 calc((100vw - 85%) / 2) 10px;
    padding-top: 10px;
    transition: height 0.5s;
  }

  .button--resetfilters {
    display: inline-block;
    box-shadow: none;
    display: inline-block;
    width: 42%;
  }

  .button--apply {
    background-color: $tameNavy;
    color: white;
  }
}

.div--filterindicator {
  margin: 1px;
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: $tameNavy;
  border-radius: 50%;
}

.hideIndicator {
  visibility: hidden;
}
