:root {
  --colNum: 0;
}

$mainColour: #bd94e8;
$colour2: #c6f3e8;
$colour3: #d6d6d6;

$tameNavy: #0b304c;
$tameGrey: #c4c4c4;
$tameLightGrey: #ededed;

$mainFont: 'Lato', sans-serif;
$headerFont: 'Montserrat', sans-serif;

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  margin: 0;
  color: $mainColour;
  font-family: $mainFont;
}
