:root {
  --mainColor: '#ff8a8a';
  --secondaryColor: #c4c4c4;
  --colNum: 0;
  --windowHeight: 45px;
}

$tameNavy: #0b304c;
$tameGrey: #c4c4c4;
$tameLightGrey: #ededed;
$tamePink: #ff8a8a;

$mainFont: 'Lato', sans-serif;
$headerFont: 'Montserrat', sans-serif;

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: $tameNavy;
  font-family: $mainFont;
  -webkit-overflow-scrolling: touch;
}
