.body--indexwrapper {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  color: black;
  overflow-x: hidden;

  button {
    font-family: $mainFont;

    &:focus {
      outline: none;
    }
  }

  h2 {
    font-family: $headerFont;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1.5em;
  }
}

button {
  border: none;
  font-family: $mainFont;
  font-size: 1em;
}

.header--main {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 32%;
  color: white;
  text-align: center;
}

.h1--eventtitle {
  padding-top: 37vh;
  display: block;
  max-width: 100%;
  font-family: $headerFont;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  text-shadow: 0.9px 1px 2.5px rgba(0, 0, 0, 0.7);
}

.h2--eventsubtitle {
  font-weight: 300;
  margin: 0;
  text-shadow: 1.2px 2.3px 2px rgba(0, 0, 0, 0.7);
}

.section--navbar {
  position: fixed;
  height: 120px;
  bottom: 0;
  background-color: white;
  padding-bottom: 7px;
  width: 100%;
  margin: 0;
  transition: height 0.4s ease-out;
  overflow: hidden;
  z-index: 1000;

  &.onscrollHeight {
    height: 65px;
    padding-top: 7px;
  }
}

.div--eventessentials {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  &.scrollDown {
    display: none;
  }

  .h3--eventdates {
    position: relative;
    font-size: 1em;
    margin: 0;
    margin-bottom: 4px;
  }

  .p--address {
    margin: 0;
    font-weight: 300;
  }
}

.div--navbuttons {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  margin: 0;
  max-width: 100%;

  .div--button {
    display: inline-block;
    height: 40px;
    width: 154px;
    color: white;
    padding: 3.5px;
    text-align: center;
    border-radius: 2px;

    p {
      position: relative;
      margin: 0;
      margin-top: 5px;
      text-align: left;
    }
  }

  .img-buttonicon {
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 7px;
    float: left;
    height: 22px;
  }

  #programButton {
    background-color: $tameGrey;
  }

  #ticketsButton {
    background-color: var(--mainColor);
    cursor: pointer;
  }
}

.section--about {
  padding: 1.5em 1.8em;
  text-align: center;

  p {
    text-align: left;
  }
}

.img--about {
  margin: 1em;
  max-width: 70vw;
  height: auto;
}

.mainPageWrapper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 3em;

  section {
    padding: 1.5em 1.8em;
  }
}

.section--statistics {
  margin: 0 auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 40px;
  text-align: center;
  margin-bottom: 5em;

  p {
    margin: 0;
  }

  .statisticnumber {
    color: var(--mainColor);
    font-size: 3.7em;
    font-weight: 700;
    background: -webkit-linear-gradient(
      270deg,
      var(--secondaryColor),
      var(--mainColor)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150% 150%;
    animation: gradientMove 3s ease-in-out infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 70% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .statistictype {
    font-size: 1.1em;
    font-weight: 700;
  }
}

.section--speakers {
  text-align: center;
  margin-bottom: 3em;
}

.div--firstspeakers,
.div--collapsiblespeakers {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 1em;
}

.div--collapsiblespeakers {
  // display: none;
  height: auto;
  overflow: hidden;
  transition: height 5s ease;

  &.collapsed {
    height: 0;
  }
}

#collapseButton {
  background-color: white;
  color: var(--mainColor);
  font-family: $mainFont;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.div--speakerfeatured {
  padding: 10px;
  text-align: center;
  position: relative;

  h3 {
    font-size: 1em;
    margin-bottom: 7px;
  }

  p {
    font-size: 0.8em;
    margin-top: 0;
  }
}

.img--speakerfeatured {
  max-width: 100%;
  z-index: 0;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.section--programRedirect {
  text-align: center;
  margin-bottom: 2.5em;
}
svg {
  width: 75%;
  max-width: 100%;
}

#calendarSvg {
  margin-top: 1em;
  margin-bottom: 3em;

  .svgMain {
    fill: var(--mainColor);
  }
  .svgSecond {
    fill: var(--secondaryColor);
  }
  .crosses {
    stroke: var(--secondaryColor);
    stroke-width: 7px;
  }

  #cross2 {
    animation: fadeInOut 2.5s ease-out infinite;
  }
}

@keyframes fadeInOut {
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.section--tickets {
  margin-bottom: 2.5em;
}

#voucher {
  border: none;
  border-bottom: 1px solid $tameGrey;
  height: 28px;
  width: calc(70% - 15px);
  font-family: $mainFont;
  font-size: 0.9em;
  color: $tameGrey;
  padding-left: 2px;
  margin: 10px;
  margin-left: 0;

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--mainColor);
  }
}

.button--voucher {
  width: 30%;
  background-color: $tameGrey;
  color: white;
  font-size: 0.9em;
  height: 28px;
  border-radius: 2px;
  border-bottom: 2px solid $tameGrey;
}

.div--ticketItem {
  box-shadow: 0.7px 0.7px 3.5px 1px #c4c4c4ad;
  border-radius: 10px;
  height: auto;
  padding: 22px;
  margin-top: 1em;
  text-align: center;

  &:hover {
    border: 1px solid var(--mainColor);
  }

  h3 {
    font-size: 1.3em;
    margin: 0;
  }

  p {
    margin: 10px auto;
    color: var(--secondaryColor);
    font-size: 1.2em;
    font-weight: 700;
  }

  ul {
    margin: 1em auto;
    width: 70%;
  }

  li {
    margin: 0 auto;
    width: auto;
    text-align: left;
    list-style: none;
    font-weight: 300;
    margin-left: 17vw;

    &:before {
      content: '\2713';
      margin-right: 10px;
    }
  }
}

.div--partners {
  text-align: center;
  margin-bottom: 2.5em;
}

.img--partnerFeatured {
  display: inline-block;
  margin: 5px;
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  box-shadow: 0.5px 0.8px 3px 0.5px #c4c4c4ad;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mainPageWrapper .section--venuemap {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.div--googlemaps {
  height: 300px;
  background-image: url(../images/googlemapsscreenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51% center;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.div--venuedetails {
  text-align: center;
  height: 110px;
  background-color: var(--secondaryColor);
  padding: 20px 10px 10px;
  border-radius: 2px;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

footer {
  width: 100%;
  overflow: hidden;
  height: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 120px;

  p {
    max-width: 100%;
    margin: 0 auto 10px;
    font-weight: bold;
  }
}

.icons--some {
  margin: 0 auto;
  max-width: 100%;
  img {
    height: 35px;
    margin: 2px;
  }
}
